.body{
 border: 5px solid rgb(0, 0, 0);
}
.header{
 width: 1260px;
 height: 152px;
 background-image: url(/img/Headphones-image-1.png);
 background-size: 100%;
 border: 5px solid rgb(1, 86, 10);
}
.section{
 width: 1260px;
 border: 5px solid rgb(92, 12, 11);
}
.header_wrap{
 width: 1260px;
 height: 152px;

 display: flex;
 justify-content: space-around;
 
}
.section_hero{
 width: 1260px;
 height: 652px;
 background-image: url(/img/Headphones-image-1\ \(1\).png);
 background-size: 100%;
}
.section_div_hero{
 width: 1260px;

 display: flex;
 justify-content: space-around;
}
.hero_sound_text{
margin: 24px;

}
.recommented{
 display: flex;
 justify-content: center;
}




.footer_wrap{
 width: 1260px;
 height: 152px;
 background-image: url(/img/Rectangle\ 27.png);
 background-size: 100%;
}